USE [QLKTX]
GO
/****** Object:  StoredProcedure [dbo].[PROC__DICHVU__DELETE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE	PROC	[dbo].[PROC__DICHVU__DELETE]
@MADICHVU		VARCHAR(10)
AS
BEGIN
	DELETE FROM DICHVU
	WHERE MADICHVU = @MADICHVU
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__DICHVU__INSERT]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


------------------------------------
CREATE	PROC	[dbo].[PROC__DICHVU__INSERT]
@TENDICHVU		NVARCHAR(20),
@GIADICHVU		INT,
@BATBUOC		BIT
AS
BEGIN
	DECLARE @NEXTID VARCHAR(10)
	SELECT @NEXTID = dbo.FUNC__DICHVU__GetNextID()	--	Tự động lấy mã tiếp theo
	
	INSERT INTO DICHVU(MADICHVU, TENDICHVU, GIADICHVU, BATBUOC)
	VALUES (@NEXTID, @TENDICHVU, @GIADICHVU, @BATBUOC)
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__DICHVU__IsReferenced]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------
CREATE	PROC	[dbo].[PROC__DICHVU__IsReferenced]
@MADICHVU	VARCHAR(10)
AS
BEGIN
	SELECT COUNT(MADICHVU)
	FROM DICHVU_PHONG
	WHERE MADICHVU = @MADICHVU
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__DICHVU__LayThongTinDienNuoc]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-----------------------------------------------
CREATE	PROC	[dbo].[PROC__DICHVU__LayThongTinDienNuoc]
AS
BEGIN
	SELECT *
	FROM DICHVU
	WHERE TENDICHVU = N'Tiền điện'
		OR TENDICHVU = N'Tiền nước'
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__DICHVU__UPDATE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-----------------------------------------------------------------------
CREATE	PROC	[dbo].[PROC__DICHVU__UPDATE]
@MADICHVU		VARCHAR(10),
@TENDICHVU		NVARCHAR(20),
@GIADICHVU		INT,
@BATBUOC		BIT
AS
BEGIN
	UPDATE	DICHVU
	SET TENDICHVU = @TENDICHVU,
		GIADICHVU = @GIADICHVU,
		BATBUOC = @BATBUOC
	WHERE MADICHVU = @MADICHVU
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__DICHVU_PHONG__DELETE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------------------
CREATE	PROC	[dbo].[PROC__DICHVU_PHONG__DELETE]
@MADICHVU	VARCHAR(10),
@MAPHG		VARCHAR(10)
AS
BEGIN
	DELETE FROM DICHVU_PHONG
	WHERE MADICHVU = @MADICHVU
		AND MAPHG = @MAPHG
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__DICHVU_PHONG__GetListByRoomID]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE	PROC	[dbo].[PROC__DICHVU_PHONG__GetListByRoomID]
@MAPHG VARCHAR(10)
AS
BEGIN
	SELECT dp.*, dv.TENDICHVU, dv.GIADICHVU, dv.BATBUOC
	FROM DICHVU_PHONG dp, DICHVU dv
	WHERE dp.MAPHG = @MAPHG
		AND dv.MADICHVU = dp.MADICHVU
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__DICHVU_PHONG__GetListOtherServicesByRoomID]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------------------
CREATE	PROC	[dbo].[PROC__DICHVU_PHONG__GetListOtherServicesByRoomID]
@MAPHG VARCHAR(10)
AS
BEGIN
	SELECT dp.*, dv.TENDICHVU, dv.GIADICHVU, dv.BATBUOC
	FROM DICHVU_PHONG dp, DICHVU dv
	WHERE dp.MAPHG = @MAPHG
		AND dv.MADICHVU = dp.MADICHVU
		AND dv.TENDICHVU <> N'Tiền điện'
		AND dv.TENDICHVU <> N'Tiền nước'
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__DICHVU_PHONG__INSERT]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------------------
CREATE	PROC	[dbo].[PROC__DICHVU_PHONG__INSERT]
@MADICHVU	VARCHAR(10),
@MAPHG		VARCHAR(10)
AS
BEGIN
	INSERT INTO DICHVU_PHONG(MADICHVU, MAPHG)
	VALUES(@MADICHVU, @MAPHG)
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__HOADON__DELETE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------------------------------
CREATE	PROC	[dbo].[PROC__HOADON__DELETE]
@MAHOADON	VARCHAR(15)
AS
BEGIN
	DELETE FROM HOADON_DIENNUOC
	WHERE MAHOADON = @MAHOADON
	
	DELETE FROM HOADON_DICHVU
	WHERE MAHOADON = @MAHOADON
	
	DELETE FROM HOADON
	WHERE MAHOADON = @MAHOADON
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__HOADON__INSERT]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE	PROC	[dbo].[PROC__HOADON__INSERT]
@#MAPHG		VARCHAR(10),
@#THANG		INT,
@#NAM		INT,
@#SODIEN		INT,
@#SONUOC		INT
AS
BEGIN
	DECLARE @#MAHOADON VARCHAR(15)
	SELECT @#MAHOADON = dbo.FUNC__HOADON__GetNextID()
	
	DECLARE @#TIENPHG INT
	SELECT @#TIENPHG = lp.GIAPHG
	FROM PHONG p, LOAIPHONG lp
	WHERE p.MAPHG = @#MAPHG
		AND lp.MALOAIPHG = p.MALOAIPHG
	
	INSERT INTO HOADON(MAHOADON, MAPHG, THANG, NAM, TIENPHONG)
	VALUES (@#MAHOADON, @#MAPHG, @#THANG, @#NAM, @#TIENPHG)
	
	EXEC PROC__HOADON_DICHVU__INSERT
	@MAHOADON = @#MAHOADON
	
	EXEC PROC__HOADON_DIENNUOC__INSERT
	@MAHOADON = @#MAHOADON,
	@SODIEN = @#SODIEN,
	@SONUOC = @#SONUOC
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__HOADON__PAY]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------
CREATE	PROC	[dbo].[PROC__HOADON__PAY]
@MAHOADON	VARCHAR(15)
AS
BEGIN
	UPDATE HOADON
	SET DATHANHTOAN = 'True'
	WHERE MAHOADON = @MAHOADON
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__HOADON__PhongDaGhiHoaDon]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------
CREATE	PROC	[dbo].[PROC__HOADON__PhongDaGhiHoaDon]
@MAPHG	VARCHAR(10),
@THANG	INT,
@NAM	INT
AS
BEGIN
	SELECT COUNT(*)
	FROM HOADON
	WHERE MAPHG = @MAPHG
		AND THANG = @THANG
		AND NAM = @NAM
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__HOADON_DICHVU__INSERT]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE	PROC	[dbo].[PROC__HOADON_DICHVU__INSERT]
@MAHOADON	VARCHAR(15)
AS
BEGIN
	DECLARE @MAPHG VARCHAR(10)
	SELECT @MAPHG = MAX(MAPHG)		--	Lấy ra mã phòng của hoá đơn
	FROM HOADON
	WHERE MAHOADON = @MAHOADON
	
	
	---------------------------------------------------------
	SELECT p.MAPHG, dv.MADICHVU, dv.TENDICHVU, dv.GIADICHVU
	INTO #TEMP
	FROM PHONG p, DICHVU_PHONG dp, DICHVU dv
	WHERE p.MAPHG = @MAPHG
		AND dp.MAPHG = p.MAPHG
		AND dv.MADICHVU = dp.MADICHVU
		AND ((dv.TENDICHVU <> N'Tiền điện') 
			AND (dv.TENDICHVU <> N'Tiền nước'))
		
	
	---------------------------------------------------------
	WHILE (SELECT COUNT(*) FROM #TEMP) > 0
	BEGIN
		DECLARE @#MAPHG VARCHAR(10)
		DECLARE @#MADVU	VARCHAR(10)
		DECLARE @#TENDVU NVARCHAR(20)
		DECLARE @#GIADVU INT
		
		
		SELECT TOP 1 @#MAPHG = MAPHG,
					 @#MADVU = MADICHVU,
					 @#TENDVU = TENDICHVU,
					 @#GIADVU = GIADICHVU
		FROM #TEMP
		
		
		INSERT INTO HOADON_DICHVU(MAHOADON, MADICHVU, TENDICHVU, GIADICHVU)
		VALUES (@MAHOADON, @#MADVU, @#TENDVU, @#GIADVU)
		
		
		DELETE FROM #TEMP
		WHERE MAPHG = @#MAPHG
			AND MADICHVU = @#MADVU
	END
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__HOADON_DICHVU__LayDanhSachDichVuTheoMaHoaDon]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------------
CREATE	PROC	[dbo].[PROC__HOADON_DICHVU__LayDanhSachDichVuTheoMaHoaDon]
@MAHOADON	VARCHAR(15)
AS
BEGIN
	SELECT *
	FROM HOADON_DICHVU
	WHERE MAHOADON = @MAHOADON
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__HOADON_DIENNUOC__INSERT]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE	PROC	[dbo].[PROC__HOADON_DIENNUOC__INSERT]
@MAHOADON	VARCHAR(15),
@SODIEN		INT,
@SONUOC		INT
AS
BEGIN
	DECLARE @MAPHG VARCHAR(10)
	SELECT @MAPHG = MAX(MAPHG)		--	Lấy ra mã phòng của hoá đơn
	FROM HOADON
	WHERE MAHOADON = @MAHOADON
	
	---------------------------------------------------------
	DECLARE @#GIADIEN INT
	DECLARE @#GIANUOC INT
	
	SELECT @#GIADIEN = MAX(GIADICHVU)
	FROM DICHVU
	WHERE TENDICHVU = N'Tiền điện'
	
	SELECT @#GIANUOC = MAX(GIADICHVU)
	FROM DICHVU
	WHERE TENDICHVU = N'Tiền nước'
	
	
	INSERT INTO HOADON_DIENNUOC(MAHOADON, GIADIEN, GIANUOC, SODIEN, SONUOC)
	VALUES (@MAHOADON, @#GIADIEN, @#GIANUOC, @SODIEN, @SONUOC)
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__HOADON_DIENNUOC__LayThongTinThangHienTai]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------------------------ư
CREATE	PROC	[dbo].[PROC__HOADON_DIENNUOC__LayThongTinThangHienTai]
@MAPHG	VARCHAR(10),
@THANG	INT,
@NAM	INT
AS
BEGIN
	SELECT hdn.*
	FROM HOADON hd, HOADON_DIENNUOC hdn
	WHERE hd.MAPHG = @MAPHG
		AND hd.NAM = @NAM
		AND hd.THANG = @THANG
		AND hdn.MAHOADON = hd.MAHOADON
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__HOADON_DIENNUOC__LayThongTinThangTruoc]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------
CREATE	PROC	[dbo].[PROC__HOADON_DIENNUOC__LayThongTinThangTruoc]
@MAPHG	VARCHAR(10),
@THANG	INT,
@NAM	INT
AS
BEGIN
	DECLARE @THANGTRUOC INT
	DECLARE @NAMTRUOC	INT
	
	IF (@THANG - 1) = 0
		BEGIN
			SET @THANGTRUOC = 12
			SET @NAMTRUOC = @NAM - 1
		END
	ELSE
		BEGIN
			SET @THANGTRUOC = @THANG - 1
			SET @NAMTRUOC = @NAM
		END
	
	
	SELECT hdn.*
	FROM HOADON hd, HOADON_DIENNUOC hdn
	WHERE hd.MAPHG = @MAPHG
		AND hd.NAM = @NAMTRUOC
		AND hd.THANG = @THANGTRUOC
		AND hdn.MAHOADON = hd.MAHOADON
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__HOPDONG__DELETE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------------
CREATE PROC	[dbo].[PROC__HOPDONG__DELETE]
@MAHOPDONG	VARCHAR(10)
AS
BEGIN
	DECLARE @MAPHG	VARCHAR(10)
	SELECT @MAPHG = MAPHG
	FROM HOPDONG
	WHERE MAHOPDONG = @MAHOPDONG
	
	WHILE (SELECT COUNT(*) FROM KHACH_HOPDONG WHERE MAHOPDONG = @MAHOPDONG) > 0
	BEGIN
		DECLARE @MAKHACH VARCHAR(10)
		SELECT TOP 1 @MAKHACH = MAKHACH
		FROM KHACH_HOPDONG
		WHERE MAHOPDONG = @MAHOPDONG
		
		
		UPDATE KHACH
		SET TRANGTHAI = N'Hết hợp đồng'
		WHERE MAKHACH = @MAKHACH
		
		
		UPDATE PHONG
		SET SOLG_DANGO = SOLG_DANGO - 1
		WHERE MAPHG = @MAPHG
		
		
		DELETE FROM KHACH_HOPDONG
		WHERE MAHOPDONG = @MAHOPDONG
			AND MAKHACH = @MAKHACH
	END
	
	DELETE FROM HOPDONG
	WHERE MAHOPDONG = @MAHOPDONG
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__HOPDONG__GetList]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------------
CREATE	PROC	[dbo].[PROC__HOPDONG__GetList]
AS
BEGIN
	SELECT hd.*, ph.TENPHG
	FROM HOPDONG hd, PHONG ph
	WHERE ph.MAPHG = hd.MAPHG
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__HOPDONG__INSERT]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC	[dbo].[PROC__HOPDONG__INSERT]
@MAHOPDONG	VARCHAR(10),
@MAPHONG	VARCHAR(10),
@THOIHAN	INT,
@TIENCOC	INT
AS
BEGIN
	INSERT INTO HOPDONG(MAHOPDONG, MAPHG, THOIHAN, TIENCOC)
	VALUES (@MAHOPDONG, @MAPHONG, @THOIHAN, @TIENCOC)
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__HOPDONG__TRACOC]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------------
CREATE	PROC	[dbo].[PROC__HOPDONG__TRACOC]
@MAHOPDONG	VARCHAR(10)
AS
BEGIN
	UPDATE	HOPDONG
	SET DATRACOC = 'True'
	WHERE MAHOPDONG = @MAHOPDONG
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH__DELETE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE	PROC	[dbo].[PROC__KHACH__DELETE]
@MAKHACH	VARCHAR(10)
AS
BEGIN
	DELETE FROM KHACH_VIPHAM
	WHERE MAKHACH = @MAKHACH
	
	DELETE FROM KHACH
	WHERE MAKHACH = @MAKHACH
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH__GetList]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------
CREATE PROC	[dbo].[PROC__KHACH__GetList]
AS
BEGIN
	
	SELECT hd.MAHOPDONG, kh.*, phg.TENPHG, phg.MAPHG
	FROM KHACH kh LEFT OUTER JOIN KHACH_HOPDONG khd ON khd.MAKHACH = kh.MAKHACH
					LEFT OUTER JOIN HOPDONG hd ON hd.MAHOPDONG = khd.MAHOPDONG
					LEFT OUTER JOIN PHONG phg ON phg.MAPHG = hd.MAPHG
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH__GetListByRoomID]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------
CREATE	PROC	[dbo].[PROC__KHACH__GetListByRoomID]
@MAPHG	VARCHAR(10)
AS
BEGIN
	SELECT (kh.HO + ' ' + kh.TEN) AS HOTEN, kh.MAKHACH
	FROM KHACH kh, KHACH_HOPDONG khd, HOPDONG hd, PHONG ph
	WHERE khd.MAKHACH  = kh.MAKHACH
		AND khd.MAHOPDONG = hd.MAHOPDONG
		AND ph.MAPHG = hd.MAPHG
		AND ph.MAPHG = @MAPHG
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH__INSERT]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------------------------
CREATE	PROC	[dbo].[PROC__KHACH__INSERT]
@MAKHACH		VARCHAR(10),
@HO				NVARCHAR(10),
@TEN			NVARCHAR(30),
@GIOITINH		NVARCHAR(10),
@NGAYSINH		DATE,
@QUEQUAN		NVARCHAR(75),
@SOCANCUOC		VARCHAR(20),
@SODIENTHOAI	VARCHAR(15)
AS
BEGIN
	INSERT INTO KHACH(MAKHACH, HO, TEN, GIOITINH, NGAYSINH, QUEQUAN, SOCANCUOC, SODIENTHOAI)
	VALUES (@MAKHACH, @HO, @TEN, @GIOITINH, @NGAYSINH, @QUEQUAN, @SOCANCUOC, @SODIENTHOAI)
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH__TonTaiSoCanCuoc]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE	PROC	[dbo].[PROC__KHACH__TonTaiSoCanCuoc]
@SOCANCUOC	VARCHAR(20)
AS
BEGIN
	SELECT COUNT(*)
	FROM KHACH
	WHERE SOCANCUOC = @SOCANCUOC
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH__UPDATE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------
CREATE	PROC	[dbo].[PROC__KHACH__UPDATE]
@MAKHACH		VARCHAR(10),
@HO				NVARCHAR(10),
@TEN			NVARCHAR(30),
@GIOITINH		NVARCHAR(10),
@NGAYSINH		DATE,
@QUEQUAN		NVARCHAR(75),
@SOCANCUOC		VARCHAR(20),
@SODIENTHOAI	VARCHAR(15),
@TRANGTHAI		NVARCHAR(15)
AS
BEGIN
	UPDATE	KHACH
	SET HO = @HO,
		TEN = @TEN,
		GIOITINH = @GIOITINH,
		NGAYSINH = @NGAYSINH,
		QUEQUAN = @QUEQUAN,
		SOCANCUOC = @SOCANCUOC,
		SODIENTHOAI = @SODIENTHOAI,
		TRANGTHAI = @TRANGTHAI
	WHERE MAKHACH = @MAKHACH
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH_HOPDONG__INSERT]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC	[dbo].[PROC__KHACH_HOPDONG__INSERT]
@MAKHACH	VARCHAR(10),
@MAHOPDONG	VARCHAR(10)
AS
BEGIN
	INSERT INTO KHACH_HOPDONG(MAKHACH, MAHOPDONG)
	VALUES (@MAKHACH, @MAHOPDONG)
	
	DECLARE @MAPHG	VARCHAR(10)
	SELECT @MAPHG = MAPHG
	FROM HOPDONG
	WHERE MAHOPDONG = @MAHOPDONG
	
	UPDATE PHONG
	SET SOLG_DANGO = SOLG_DANGO + 1
	WHERE MAPHG = @MAPHG
	
	UPDATE KHACH
	SET TRANGTHAI = N'Đang ở'
	WHERE MAKHACH = @MAKHACH
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH_VIPHAM__DELETE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-----------------------------------------------
CREATE	PROC	[dbo].[PROC__KHACH_VIPHAM__DELETE]
@MAVIPHAM	VARCHAR(10),
@MAKHACH	VARCHAR(10),
@THOIGIAN	DATETIME
AS
BEGIN
	DELETE FROM KHACH_VIPHAM
	WHERE MAKHACH = @MAKHACH
		AND MAVIPHAM = @MAVIPHAM
		AND THOIGIANVIPHAM = @THOIGIAN
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH_VIPHAM__GetList]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE	PROC	[dbo].[PROC__KHACH_VIPHAM__GetList]
AS
BEGIN
	SELECT (kh.HO + ' ' + kh.TEN) AS HOTEN, ph.TENPHG, vp.NOIDUNG, khvp.*
	FROM KHACH kh, KHACH_VIPHAM khvp, VIPHAM vp, KHACH_HOPDONG khd, HOPDONG hd, PHONG ph
	WHERE khvp.MAKHACH = kh.MAKHACH
		AND vp.MAVIPHAM = khvp.MAVIPHAM
		AND khd.MAKHACH = kh.MAKHACH
		AND hd.MAHOPDONG = khd.MAHOPDONG
		AND ph.MAPHG = hd.MAPHG
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH_VIPHAM__INSERT]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------
CREATE	PROC	[dbo].[PROC__KHACH_VIPHAM__INSERT]
@MAVIPHAM	VARCHAR(10),
@MAKHACH	VARCHAR(10),
@GHICHU		NVARCHAR(75)
AS
BEGIN
	INSERT INTO KHACH_VIPHAM(MAVIPHAM, MAKHACH, GHICHU)
	VALUES (@MAVIPHAM, @MAKHACH, @GHICHU)
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH_VIPHAM__UPDATE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------
CREATE	PROC	[dbo].[PROC__KHACH_VIPHAM__UPDATE]
@MAVIPHAM	VARCHAR(10),
@MAKHACH	VARCHAR(10),
@THOIGIAN	DATETIME
AS
BEGIN
	UPDATE KHACH_VIPHAM
	SET DAGIAIQUYET = 'True'
	WHERE MAKHACH = @MAKHACH
		AND MAVIPHAM = @MAVIPHAM
		AND THOIGIANVIPHAM = @THOIGIAN
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__KHU__DETELE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------
CREATE	PROC	[dbo].[PROC__KHU__DETELE]
@MAKHU		VARCHAR(10)
AS
BEGIN
	DELETE FROM KHU
	WHERE MAKHU = @MAKHU
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__KHU__INSERT]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



---------------------------------
CREATE	PROC	[dbo].[PROC__KHU__INSERT]
@TENKHU		NVARCHAR(15)
AS
BEGIN
	DECLARE @NEXTID VARCHAR(10)
	SELECT @NEXTID = dbo.FUNC__KHU__GetNextID()	--	Tự động lấy mã tiếp theo
	
	INSERT INTO KHU(MAKHU, TENKHU)
	VALUES (@NEXTID, @TENKHU)
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__KHU__UPDATE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------------
CREATE  PROC	[dbo].[PROC__KHU__UPDATE]
@MAKHU		VARCHAR(10),
@TENKHU		NVARCHAR(15)
AS
BEGIN
	UPDATE	KHU
	SET TENKHU = @TENKHU
	WHERE MAKHU = @MAKHU
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__LOAIPHONG__DELETE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------
CREATE	PROC	[dbo].[PROC__LOAIPHONG__DELETE]
@MALOAIPHG	VARCHAR(15)
AS
BEGIN
	DELETE FROM LOAIPHONG
	WHERE MALOAIPHG = @MALOAIPHG
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__LOAIPHONG__INSERT]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE	PROC	[dbo].[PROC__LOAIPHONG__INSERT]
@TENLOAIPHG		NVARCHAR(15),
@GIAPHG			INT
AS
BEGIN
	DECLARE @MALOAIPHG VARCHAR(15)
	SELECT @MALOAIPHG = dbo.FUNC__LOAIPHONG__GetNextID()
	
	INSERT INTO LOAIPHONG(MALOAIPHG, TENLOAIPHG, GIAPHG)
	VALUES (@MALOAIPHG, @TENLOAIPHG, @GIAPHG)
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__LOAIPHONG__THONGKE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC	[dbo].[PROC__LOAIPHONG__THONGKE]
AS
BEGIN
	SELECT lp.TENLOAIPHG, COUNT(ph.MAPHG) AS SOLG
	FROM LOAIPHONG lp, PHONG ph
	WHERE ph.MALOAIPHG = lp.MALOAIPHG
		AND ph.SOLG_DANGO > 0
	GROUP BY lp.TENLOAIPHG
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__LOAIPHONG__UPDATE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------
CREATE	PROC	[dbo].[PROC__LOAIPHONG__UPDATE]
@MALOAIPHG	VARCHAR(15),
@TENLOAIPHG	NVARCHAR(15),
@GIAPHG		INT
AS
BEGIN
	UPDATE LOAIPHONG
	SET TENLOAIPHG = @TENLOAIPHG,
		GIAPHG = @GIAPHG
	WHERE MALOAIPHG = @MALOAIPHG
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__NGUOIDUNG__INSERT]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE	PROC	[dbo].[PROC__NGUOIDUNG__INSERT]
@TENDN		VARCHAR(30),
@MATKHAU	VARCHAR(100),
@HO			NVARCHAR(10),
@TEN		NVARCHAR(30)
AS
BEGIN
	INSERT INTO NGUOIDUNG(TENDN, MATKHAU, HO, TEN)
	VALUES (@TENDN, @MATKHAU, @HO, @TEN)
END 

GO
/****** Object:  StoredProcedure [dbo].[PROC__NGUOIDUNG__UPDATE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE	PROC	[dbo].[PROC__NGUOIDUNG__UPDATE]
@TENDN		VARCHAR(30),
@MATKHAU	VARCHAR(100),
@HO			NVARCHAR(10),
@TEN		NVARCHAR(30)
AS
BEGIN
	UPDATE NGUOIDUNG
	SET MATKHAU = @MATKHAU,
		HO = @HO, TEN = @TEN,
		TENDN = @TENDN
	WHERE TENDN = @TENDN
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__PHONG__DELETE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------
CREATE	PROC	[dbo].[PROC__PHONG__DELETE]
@MAPHG	VARCHAR(10)
AS
BEGIN
	DELETE FROM DICHVU_PHONG
	WHERE MAPHG = @MAPHG
		AND MADICHVU = 'DVU0000001'
		OR	MADICHVU = 'DVU0000002'
	
	DELETE FROM PHONG
	WHERE MAPHG = @MAPHG
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__PHONG__GetList]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------------------------------------
CREATE	PROC	[dbo].[PROC__PHONG__GetList]
AS
BEGIN
	SELECT k.MAKHU, k.TENKHU, t.MATANG, t.TENTANG, p.MAPHG, p.TENPHG, p.SOLG_DANGO, p.SOLG_TOIDA, p.DANGSUACHUA, l.MALOAIPHG, l.TENLOAIPHG
	FROM PHONG p, TANG t, KHU k, LOAIPHONG l
	WHERE l.MALOAIPHG = p.MALOAIPHG
		AND t.MATANG = p.MATANG
		AND k.MAKHU = t.MAKHU
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__PHONG__INSERT]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------------------------------------
CREATE PROC	[dbo].[PROC__PHONG__INSERT]
@TENPHG			NVARCHAR(15),
@SOLG_TOIDA		INT,
@MATANG			VARCHAR(10),
@MALOAIPHG		VARCHAR(15),
@DANGSUACHUA	BIT
AS
BEGIN
	DECLARE @#MAPHG VARCHAR(10)
	SELECT @#MAPHG = dbo.FUNC__PHONG__GetNextID()
	
	INSERT INTO PHONG(MAPHG, TENPHG, SOLG_TOIDA, MATANG, MALOAIPHG, DANGSUACHUA)
	VALUES (@#MAPHG, @TENPHG, @SOLG_TOIDA, @MATANG, @MALOAIPHG, @DANGSUACHUA)
	
	
	EXEC PROC__DICHVU_PHONG__INSERT
		 @MADICHVU = 'DVU0000001',
		 @MAPHG = @#MAPHG
	
	EXEC PROC__DICHVU_PHONG__INSERT
		 @MADICHVU = 'DVU0000002',
		 @MAPHG = @#MAPHG
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__PHONG__LayThongTinLoaiPhongTheoTenPhong]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------
CREATE	PROC	[dbo].[PROC__PHONG__LayThongTinLoaiPhongTheoTenPhong]
@TENPHG	NVARCHAR(15)
AS
BEGIN
	SELECT lp.*
	FROM PHONG p, LOAIPHONG lp
	WHERE p.TENPHG = @TENPHG
		AND lp.MALOAIPHG = p.MALOAIPHG
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__PHONG__UPDATE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------
CREATE	PROC	[dbo].[PROC__PHONG__UPDATE]
@MAPHG			VARCHAR(10),
@TENPHG			NVARCHAR(15),
@SOLG_TOIDA		INT,
@MATANG			VARCHAR(10),
@MALOAIPHG		VARCHAR(15),
@DANGSUACHUA	BIT
AS
BEGIN
	UPDATE PHONG
	SET TENPHG = @TENPHG,
		SOLG_TOIDA = @SOLG_TOIDA,
		MATANG = @MATANG,
		MALOAIPHG = @MALOAIPHG,
		DANGSUACHUA = @DANGSUACHUA
	WHERE MAPHG = @MAPHG
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__PHONG_GetEmptyList]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC	[dbo].[PROC__PHONG_GetEmptyList]	--	Phòng còn dư chỗ
AS
BEGIN
	SELECT p.*, lp.TENLOAIPHG, lp.GIAPHG
	FROM PHONG p, LOAIPHONG lp
	WHERE p.DANGSUACHUA = 'False'
		AND p.SOLG_DANGO < p.SOLG_TOIDA
			AND lp.MALOAIPHG = p.MALOAIPHG
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__TANG__DETELE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------
CREATE	PROC	[dbo].[PROC__TANG__DETELE]
@MATANG		VARCHAR(10)
AS
BEGIN
	DELETE FROM TANG
	WHERE MATANG = @MATANG
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__TANG__GetLastFloor_ByAreaID]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC	[dbo].[PROC__TANG__GetLastFloor_ByAreaID]
@MAKHU	VARCHAR(10)
AS
BEGIN
	DECLARE	@MAX_FLOOR INT
	SELECT @MAX_FLOOR = MAX(CONVERT(INT, SUBSTRING(TENTANG, 6, LEN(TENTANG) - 5)))
	FROM TANG
	WHERE MAKHU = @MAKHU

	SELECT t.*, k.TENKHU
	FROM TANG t, KHU k
	WHERE k.MAKHU = @MAKHU
		AND t.MAKHU = k.MAKHU
		AND CONVERT(INT, SUBSTRING(TENTANG, 6, LEN(TENTANG) - 5)) = @MAX_FLOOR
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__TANG__GetList]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------
CREATE PROC	[dbo].[PROC__TANG__GetList]
AS
BEGIN
	SELECT k.MAKHU, k.TENKHU, t.MATANG, t.TENTANG
	FROM TANG t, KHU k
	WHERE t.MAKHU = k.MAKHU
	GROUP BY k.MAKHU, k.TENKHU, t.MATANG, t.TENTANG
	ORDER BY k.TENKHU, MAX(CONVERT(INT, SUBSTRING(t.TENTANG, 6, LEN(t.TENTANG) - 5)))
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__TANG__INSERT]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------
CREATE	PROC	[dbo].[PROC__TANG__INSERT]
@MAKHU		VARCHAR(10)
AS
BEGIN
	DECLARE @MATANG VARCHAR(10)
	SELECT @MATANG = dbo.FUNC__TANG__GetNextID()	-- Tự lấy mã tiếp theo
	
	DECLARE @TENTANG NVARCHAR(15)
	SELECT @TENTANG = dbo.FUNC__TANG__GetNextFloorName(@MAKHU)
	
	INSERT INTO TANG(MAKHU, MATANG, TENTANG)
	VALUES (@MAKHU, @MATANG, @TENTANG)
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__TANG__UPDATE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------
CREATE	PROC	[dbo].[PROC__TANG__UPDATE]
@MATANG		VARCHAR(10),
@TENTANG	VARCHAR(15)
AS
BEGIN
	UPDATE	TANG
	SET TENTANG = @TENTANG
	WHERE MATANG = @MATANG
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__THIETBI__DETELE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------
CREATE	PROC	[dbo].[PROC__THIETBI__DETELE]
@MATBI		VARCHAR(10)
AS
BEGIN
	DELETE FROM THIETBI
	WHERE MATBI = @MATBI
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__THIETBI__INSERT]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



---------------------------------
CREATE	PROC	[dbo].[PROC__THIETBI__INSERT]
@TENTBI		NVARCHAR(25),
@GIATBI		INT,
@SOLG_TON	INT
AS
BEGIN
	DECLARE @NEXTID VARCHAR(10)
	SELECT @NEXTID = dbo.FUNC__THIETBI__GetNextID()	--	Tự động lấy mã tiếp theo
	
	INSERT INTO THIETBI(MATBI, TENTBI, GIATBI, SOLG_TON)
	VALUES (@NEXTID, @TENTBI, @GIATBI, @SOLG_TON)
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__THIETBI__UPDATE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------------
CREATE	PROC	[dbo].[PROC__THIETBI__UPDATE]
@MATBI		VARCHAR(10),
@TENTBI		NVARCHAR(15),
@GIATBI		INT,
@SOLG_TON	INT
AS
BEGIN
	UPDATE	THIETBI
	SET TENTBI = @TENTBI,
		GIATBI = @GIATBI,
		SOLG_TON = @SOLG_TON
	WHERE MATBI = @MATBI
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__THIETBI_PHONG__DETELE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------
CREATE	PROC	[dbo].[PROC__THIETBI_PHONG__DETELE]
@MATBI			VARCHAR(10),
@MAPHG			VARCHAR(10),
@THOIGIANCAP	DATETIME
AS
BEGIN
	DELETE FROM THIETBI_PHONG
	WHERE MATBI = @MATBI
		AND MAPHG = @MAPHG
		AND THOIGIANCAP = @THOIGIANCAP
	
	UPDATE THIETBI
	SET SOLG_PHANBO = SOLG_PHANBO - 1,
		SOLG_TON = SOLG_TON + 1
	WHERE MATBI = @MATBI
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__THIETBI_PHONG__GetListByRoomID]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE	PROC	[dbo].[PROC__THIETBI_PHONG__GetListByRoomID]
@MAPHG	VARCHAR(10)
AS
BEGIN
	SELECT tp.*, tb.TENTBI
			FROM THIETBI_PHONG tp, THIETBI tb
			WHERE tp.MAPHG = @MAPHG
				AND tp.MATBI = tb.MATBI
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__THIETBI_PHONG__INSERT]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------
CREATE	PROC	[dbo].[PROC__THIETBI_PHONG__INSERT]
@MATBI	VARCHAR(10),
@MAPHG	VARCHAR(10)
AS
BEGIN
	INSERT INTO THIETBI_PHONG(MATBI, MAPHG)
	VALUES (@MATBI, @MAPHG)
	
	UPDATE THIETBI
	SET SOLG_PHANBO = SOLG_PHANBO + 1,
		SOLG_TON = SOLG_TON - 1
	WHERE MATBI = @MATBI
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__VIPHAM__DELETE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------------------
CREATE	PROC	[dbo].[PROC__VIPHAM__DELETE]
@MAVIPHAM	VARCHAR(10)
AS
BEGIN
	DELETE FROM VIPHAM
	WHERE MAVIPHAM = @MAVIPHAM
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__VIPHAM__INSERT]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC	[dbo].[PROC__VIPHAM__INSERT]
@NOIDUNG	NVARCHAR(75),
@HINHPHAT	NVARCHAR(75)
AS
BEGIN
	DECLARE @NEXTID VARCHAR(10)
	SELECT @NEXTID = dbo.FUNC__VIPHAM__GetNextID()
	
	INSERT INTO VIPHAM(MAVIPHAM, NOIDUNG, HINHPHAT)
	VALUES (@NEXTID, @NOIDUNG, @HINHPHAT)
END

GO
/****** Object:  StoredProcedure [dbo].[PROC__VIPHAM__UPDATE]    Script Date: 21/12/2022 11:40:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------------------
CREATE	PROC	[dbo].[PROC__VIPHAM__UPDATE]
@MAVIPHAM	VARCHAR(10),
@NOIDUNG	NVARCHAR(75),
@HINHPHAT	NVARCHAR(75)
AS
BEGIN
	UPDATE VIPHAM
	SET NOIDUNG = @NOIDUNG,
		HINHPHAT = @HINHPHAT
	WHERE MAVIPHAM = @MAVIPHAM
END

GO
