USE [QLKTX]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 21/12/2022 11:39:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADICHVU] [varchar](10) NOT NULL,
	[TENDICHVU] [nvarchar](20) NOT NULL,
	[GIADICHVU] [int] NOT NULL,
	[BATBUOC] [bit] NOT NULL DEFAULT ('False'),
 CONSTRAINT [PK__DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UN__DICHVU__TENDICHVU] UNIQUE NONCLUSTERED 
(
	[TENDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVU_PHONG]    Script Date: 21/12/2022 11:39:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU_PHONG](
	[MADICHVU] [varchar](10) NOT NULL,
	[MAPHG] [varchar](10) NOT NULL,
	[NGAYDANGKY] [datetime] NOT NULL DEFAULT (getdate()),
 CONSTRAINT [PK__DICHVU_PHONG] PRIMARY KEY CLUSTERED 
(
	[MADICHVU] ASC,
	[MAPHG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 21/12/2022 11:39:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [varchar](15) NOT NULL,
	[MAPHG] [varchar](10) NOT NULL,
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[DATHANHTOAN] [bit] NOT NULL DEFAULT ('False'),
	[TIENPHONG] [int] NOT NULL,
 CONSTRAINT [PK__HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UN__HOADON] UNIQUE NONCLUSTERED 
(
	[MAPHG] ASC,
	[THANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON_DICHVU]    Script Date: 21/12/2022 11:39:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON_DICHVU](
	[MAHOADON] [varchar](15) NOT NULL,
	[MADICHVU] [varchar](10) NOT NULL,
	[TENDICHVU] [nvarchar](20) NULL,
	[GIADICHVU] [int] NULL,
 CONSTRAINT [PK__HOADON_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC,
	[MADICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON_DIENNUOC]    Script Date: 21/12/2022 11:39:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON_DIENNUOC](
	[MAHOADON] [varchar](15) NOT NULL,
	[GIADIEN] [int] NOT NULL,
	[GIANUOC] [int] NOT NULL,
	[SODIEN] [int] NOT NULL,
	[SONUOC] [int] NOT NULL,
 CONSTRAINT [PK__HOADON_DIENNUOC] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 21/12/2022 11:39:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MAHOPDONG] [varchar](10) NOT NULL,
	[MAPHG] [varchar](10) NOT NULL,
	[THOIHAN] [int] NOT NULL,
	[THOIGIANTAO] [datetime] NOT NULL DEFAULT (getdate()),
	[TRANGTHAI] [nvarchar](15) NOT NULL DEFAULT (N'Có hiệu lực'),
	[TIENCOC] [int] NOT NULL DEFAULT ((0)),
	[DATRACOC] [bit] NOT NULL DEFAULT ('False'),
 CONSTRAINT [PK__HOPDONG] PRIMARY KEY CLUSTERED 
(
	[MAHOPDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACH]    Script Date: 21/12/2022 11:39:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACH](
	[MAKHACH] [varchar](10) NOT NULL,
	[HO] [nvarchar](10) NOT NULL,
	[TEN] [nvarchar](30) NOT NULL,
	[GIOITINH] [nvarchar](10) NOT NULL DEFAULT (N'Không biết'),
	[NGAYSINH] [date] NOT NULL,
	[QUEQUAN] [nvarchar](75) NOT NULL,
	[SOCANCUOC] [varchar](20) NOT NULL,
	[SODIENTHOAI] [varchar](15) NULL,
	[TRANGTHAI] [nvarchar](15) NOT NULL DEFAULT (N'Đang ở'),
 CONSTRAINT [PK__KHACH] PRIMARY KEY CLUSTERED 
(
	[MAKHACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UN__KHACH__SOCANCUOC] UNIQUE NONCLUSTERED 
(
	[SOCANCUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACH_HOPDONG]    Script Date: 21/12/2022 11:39:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACH_HOPDONG](
	[MAHOPDONG] [varchar](10) NOT NULL,
	[MAKHACH] [varchar](10) NOT NULL,
 CONSTRAINT [PK__KHACH_HOPDONG] PRIMARY KEY CLUSTERED 
(
	[MAKHACH] ASC,
	[MAHOPDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACH_VIPHAM]    Script Date: 21/12/2022 11:39:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACH_VIPHAM](
	[MAKHACH] [varchar](10) NOT NULL,
	[MAVIPHAM] [varchar](10) NOT NULL,
	[THOIGIANVIPHAM] [datetime] NOT NULL,
	[GHICHU] [nvarchar](75) NOT NULL,
	[DAGIAIQUYET] [bit] NOT NULL,
 CONSTRAINT [PK__KHACH_VIPHAM] PRIMARY KEY CLUSTERED 
(
	[MAKHACH] ASC,
	[MAVIPHAM] ASC,
	[THOIGIANVIPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHU]    Script Date: 21/12/2022 11:39:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHU](
	[MAKHU] [varchar](10) NOT NULL,
	[TENKHU] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK__KHU] PRIMARY KEY CLUSTERED 
(
	[MAKHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UN__KHU] UNIQUE NONCLUSTERED 
(
	[TENKHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 21/12/2022 11:39:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAIPHG] [varchar](15) NOT NULL,
	[TENLOAIPHG] [nvarchar](15) NOT NULL,
	[GIAPHG] [int] NOT NULL,
 CONSTRAINT [PK__LOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[MALOAIPHG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UN__LOAIPHONG] UNIQUE NONCLUSTERED 
(
	[TENLOAIPHG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 21/12/2022 11:39:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[TENDN] [varchar](30) NOT NULL,
	[MATKHAU] [varchar](100) NOT NULL,
	[HO] [nvarchar](10) NOT NULL,
	[TEN] [nvarchar](30) NOT NULL,
	[DANGNHAPLANDAU] [bit] NOT NULL DEFAULT ('True'),
 CONSTRAINT [PK__NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[TENDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 21/12/2022 11:39:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHG] [varchar](10) NOT NULL,
	[TENPHG] [nvarchar](15) NOT NULL,
	[SOLG_TOIDA] [int] NOT NULL,
	[SOLG_DANGO] [int] NOT NULL DEFAULT ((0)),
	[DANGSUACHUA] [bit] NOT NULL DEFAULT ('False'),
	[MATANG] [varchar](10) NOT NULL,
	[MALOAIPHG] [varchar](15) NOT NULL,
 CONSTRAINT [PK__PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UN__PHONG__TENPHG] UNIQUE NONCLUSTERED 
(
	[TENPHG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TANG]    Script Date: 21/12/2022 11:39:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TANG](
	[MATANG] [varchar](10) NOT NULL,
	[TENTANG] [nvarchar](15) NOT NULL,
	[MAKHU] [varchar](10) NOT NULL,
 CONSTRAINT [PK__TANG] PRIMARY KEY CLUSTERED 
(
	[MATANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 21/12/2022 11:39:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THIETBI](
	[MATBI] [varchar](10) NOT NULL,
	[TENTBI] [nvarchar](25) NOT NULL,
	[GIATBI] [int] NOT NULL,
	[NGAYNHAP] [date] NOT NULL DEFAULT (getdate()),
	[SOLG_PHANBO] [int] NOT NULL DEFAULT ((0)),
	[SOLG_TON] [int] NOT NULL,
 CONSTRAINT [PK__THIETBI] PRIMARY KEY CLUSTERED 
(
	[MATBI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UN__THIETBI] UNIQUE NONCLUSTERED 
(
	[TENTBI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THIETBI_PHONG]    Script Date: 21/12/2022 11:39:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THIETBI_PHONG](
	[MATBI] [varchar](10) NOT NULL,
	[MAPHG] [varchar](10) NOT NULL,
	[THOIGIANCAP] [datetime] NOT NULL DEFAULT (getdate()),
 CONSTRAINT [PK__THIETBI_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHG] ASC,
	[MATBI] ASC,
	[THOIGIANCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VIPHAM]    Script Date: 21/12/2022 11:39:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VIPHAM](
	[MAVIPHAM] [varchar](10) NOT NULL,
	[NOIDUNG] [nvarchar](75) NOT NULL,
	[HINHPHAT] [nvarchar](75) NOT NULL,
 CONSTRAINT [PK__VIPHAM] PRIMARY KEY CLUSTERED 
(
	[MAVIPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UN__VIPHAM__NOIDUNG] UNIQUE NONCLUSTERED 
(
	[NOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[KHACH_VIPHAM] ADD  DEFAULT (getdate()) FOR [THOIGIANVIPHAM]
GO
ALTER TABLE [dbo].[KHACH_VIPHAM] ADD  DEFAULT ('False') FOR [DAGIAIQUYET]
GO
ALTER TABLE [dbo].[DICHVU_PHONG]  WITH CHECK ADD  CONSTRAINT [FK__DICHVU_PHONG__MADICHVU] FOREIGN KEY([MADICHVU])
REFERENCES [dbo].[DICHVU] ([MADICHVU])
GO
ALTER TABLE [dbo].[DICHVU_PHONG] CHECK CONSTRAINT [FK__DICHVU_PHONG__MADICHVU]
GO
ALTER TABLE [dbo].[DICHVU_PHONG]  WITH CHECK ADD  CONSTRAINT [FK__DICHVU_PHONG__MAPHONG] FOREIGN KEY([MAPHG])
REFERENCES [dbo].[PHONG] ([MAPHG])
GO
ALTER TABLE [dbo].[DICHVU_PHONG] CHECK CONSTRAINT [FK__DICHVU_PHONG__MAPHONG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK__HOADON__MAPHG] FOREIGN KEY([MAPHG])
REFERENCES [dbo].[PHONG] ([MAPHG])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK__HOADON__MAPHG]
GO
ALTER TABLE [dbo].[HOADON_DICHVU]  WITH CHECK ADD  CONSTRAINT [FK__HOADON_DICHVU__MAHOADON] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[HOADON_DICHVU] CHECK CONSTRAINT [FK__HOADON_DICHVU__MAHOADON]
GO
ALTER TABLE [dbo].[HOADON_DIENNUOC]  WITH CHECK ADD  CONSTRAINT [FK__HOADON_DIENNUOC__MAHOADON] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[HOADON_DIENNUOC] CHECK CONSTRAINT [FK__HOADON_DIENNUOC__MAHOADON]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK__HOPDONG__MAPHONG] FOREIGN KEY([MAPHG])
REFERENCES [dbo].[PHONG] ([MAPHG])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK__HOPDONG__MAPHONG]
GO
ALTER TABLE [dbo].[KHACH_HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK__KHACH_HOPDONG__MAHOPDONG] FOREIGN KEY([MAHOPDONG])
REFERENCES [dbo].[HOPDONG] ([MAHOPDONG])
GO
ALTER TABLE [dbo].[KHACH_HOPDONG] CHECK CONSTRAINT [FK__KHACH_HOPDONG__MAHOPDONG]
GO
ALTER TABLE [dbo].[KHACH_HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK__KHACH_HOPDONG__MAKHACH] FOREIGN KEY([MAKHACH])
REFERENCES [dbo].[KHACH] ([MAKHACH])
GO
ALTER TABLE [dbo].[KHACH_HOPDONG] CHECK CONSTRAINT [FK__KHACH_HOPDONG__MAKHACH]
GO
ALTER TABLE [dbo].[KHACH_VIPHAM]  WITH CHECK ADD  CONSTRAINT [FK__KHACH_VIPHAM__MAKHACH] FOREIGN KEY([MAKHACH])
REFERENCES [dbo].[KHACH] ([MAKHACH])
GO
ALTER TABLE [dbo].[KHACH_VIPHAM] CHECK CONSTRAINT [FK__KHACH_VIPHAM__MAKHACH]
GO
ALTER TABLE [dbo].[KHACH_VIPHAM]  WITH CHECK ADD  CONSTRAINT [FK__KHACH_VIPHAM__MAVIPHAM] FOREIGN KEY([MAVIPHAM])
REFERENCES [dbo].[VIPHAM] ([MAVIPHAM])
GO
ALTER TABLE [dbo].[KHACH_VIPHAM] CHECK CONSTRAINT [FK__KHACH_VIPHAM__MAVIPHAM]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK__PHONG__MALOAIPHG] FOREIGN KEY([MALOAIPHG])
REFERENCES [dbo].[LOAIPHONG] ([MALOAIPHG])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK__PHONG__MALOAIPHG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK__PHONG__MATANG] FOREIGN KEY([MATANG])
REFERENCES [dbo].[TANG] ([MATANG])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK__PHONG__MATANG]
GO
ALTER TABLE [dbo].[TANG]  WITH CHECK ADD  CONSTRAINT [FK__TANG__MAKHU] FOREIGN KEY([MAKHU])
REFERENCES [dbo].[KHU] ([MAKHU])
GO
ALTER TABLE [dbo].[TANG] CHECK CONSTRAINT [FK__TANG__MAKHU]
GO
ALTER TABLE [dbo].[THIETBI_PHONG]  WITH CHECK ADD  CONSTRAINT [FK__THIETBI_PHONG__MAPHG] FOREIGN KEY([MAPHG])
REFERENCES [dbo].[PHONG] ([MAPHG])
GO
ALTER TABLE [dbo].[THIETBI_PHONG] CHECK CONSTRAINT [FK__THIETBI_PHONG__MAPHG]
GO
ALTER TABLE [dbo].[THIETBI_PHONG]  WITH CHECK ADD  CONSTRAINT [FK__THIETBI_PHONG__MATBI] FOREIGN KEY([MATBI])
REFERENCES [dbo].[THIETBI] ([MATBI])
GO
ALTER TABLE [dbo].[THIETBI_PHONG] CHECK CONSTRAINT [FK__THIETBI_PHONG__MATBI]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [CK__HOPDONG__TRANGTHAI] CHECK  (([TRANGTHAI]=N'Hết hiệu lực' OR [TRANGTHAI]=N'Có hiệu lực'))
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [CK__HOPDONG__TRANGTHAI]
GO
ALTER TABLE [dbo].[KHACH]  WITH CHECK ADD  CONSTRAINT [CK__KHACH__GIOITINH] CHECK  (([GIOITINH]=N'Không biết' OR [GIOITINH]=N'Khác' OR [GIOITINH]=N'Nữ' OR [GIOITINH]=N'Nam'))
GO
ALTER TABLE [dbo].[KHACH] CHECK CONSTRAINT [CK__KHACH__GIOITINH]
GO
ALTER TABLE [dbo].[KHACH]  WITH CHECK ADD  CONSTRAINT [CK__KHACH__TRANGTHAI] CHECK  (([TRANGTHAI]=N'Hết hợp đồng' OR [TRANGTHAI]=N'' OR [TRANGTHAI]=N'Tạm vắng' OR [TRANGTHAI]=N'Đang ở'))
GO
ALTER TABLE [dbo].[KHACH] CHECK CONSTRAINT [CK__KHACH__TRANGTHAI]
GO
