USE [QLKTX]
GO
/****** Object:  View [dbo].[doanhThu]    Script Date: 21/12/2022 11:40:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[doanhThu]
as
select HOADON.MAHOADON, PHONG.MAPHG,sum(GIADICHVU+GIADIEN*SODIEN+GIANUOC*SONUOC)as DoanhThu
from HOADON, HOADON_DIENNUOC,HOADON_DICHVU, PHONG
where HOADON.MAHOADON=HOADON_DIENNUOC.MAHOADON and HOADON.MAHOADON=HOADON_DICHVU.MAHOADON and HOADON.MAPHG=PHONG.MAPHG
group by HOADON.MAHOADON, PHONG.MAPHG
GO
/****** Object:  View [dbo].[VW__HOADON__GetList]    Script Date: 21/12/2022 11:40:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------
CREATE VIEW [dbo].[VW__HOADON__GetList]
AS
	SELECT hd.MAHOADON, hd.MAPHG, p.TENPHG, hd.THANG, hd.NAM, hd.TIENPHONG,
			dbo.FUNC__HOADON__TongTienDichVu(hd.MAPHG, hd.THANG, hd.NAM) AS TIENDICHVU, 
			dbo.FUNC__HOADON__TongTienDien(hd.MAPHG, hd.THANG, hd.NAM) AS TIENDIEN,
			dbo.FUNC__HOADON__TongTienNuoc(hd.MAPHG, hd.THANG, hd.NAM) AS TIENNUOC,
			(hd.TIENPHONG + 
				dbo.FUNC__HOADON__TongTienDichVu(hd.MAPHG, hd.THANG, hd.NAM) + 
				dbo.FUNC__HOADON__TongTienDien(hd.MAPHG, hd.THANG, hd.NAM) +
				dbo.FUNC__HOADON__TongTienNuoc(hd.MAPHG, hd.THANG, hd.NAM)) AS TONGTIEN,
			hd.DATHANHTOAN
	FROM HOADON hd FULL OUTER JOIN HOADON_DICHVU hdv ON hdv.MAHOADON = hd.MAHOADON, PHONG p 
	WHERE p.MAPHG = hd.MAPHG
	GROUP BY hd.MAHOADON, hd.MAPHG, hd.THANG, hd.NAM, hd.TIENPHONG, hd.DATHANHTOAN, p.TENPHG

GO
